    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Clientes
            </h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="example2" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Fecha Registro</th>
                  <th>Nombre</th>
                  <th>Telefono</th>
                  <th>Editar</th>
                  <th>Ventas</th>
                  <th>Equipos</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="cliente in clientes | filter:busqueda" align="center">
                  <td ng-bind="cliente.id"></td>
                  <td ng-bind="cliente.registro | date:'dd/MM/yyyy'"></td>
                  <td ng-bind="cliente.nombre | uppercase"></td>
                  <td ng-bind="cliente.telefonoPrincipal.telefono"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->


        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
