<section>
  <div>
    <div class="container">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Clientes</h3>
        </div>
        <!-- /.card-header -->
        <!-- <pre>
          {{ this.clientes | json }}
      </pre> -->
      <div class="row">
        <div class="col-md-3 offset-md-9">
          <!-- <button type="button" class="btn btn-light">Agregar</button> -->
          <button type="button" class="btn btn-primary btn-lg btn-block">Agregar</button>

        </div>
      </div>
        <div class="card-body">
          <table id="example2" class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>ID</th>
                <th>Fecha Registro</th>
                <th>Nombre</th>
                <th>Telefono</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let cliente of clientes">
                <td> {{cliente.id}}</td>
                <td> {{cliente.registro | date:'dd/MM/yyyy'}}</td>
                <td> {{cliente.nombre}}</td>
                <td>{{cliente.numeroP}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
  
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>


