<section>
  <div>
    <div class="container">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Nuevo Cliente</h3>
        </div>
        <!-- /.card-header -->
        <!-- <pre>
            {{ this.clientes | json }}
        </pre> -->
        <div class="panel-body">
          <div class="container">
            <form >
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label>Nombre</label>
                  <input
                    required
                    type="email"
                    class="form-control"
                    [(ngModel)]="cliente.nombre"
                    name="nombre"
                  />
                </div>
                <div class="form-group col-md-3">
                  <label for="inputPassword4">RFC</label>
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="cliente.rfc"
                    name="rfc"
                  />
                </div>
                <div class="form-group col-md-3">
                  <label for="inputPassword4">CP</label>
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="cliente.zip"
                    name="zip"
                  />
                </div>
              </div>
              <div class="form-group">
                <label for="inputAddress">Dirección</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="cliente.direccion"
                  name="direccion"
                />
              </div>
              <div class="form-group">
                <label for="inputAddress2">Correo</label>

                <div class="input-group flex-nowrap">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="addon-wrapping">@</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Username" aria-describedby="addon-wrapping"  [(ngModel)]="cliente.correo"
                  name="correo">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="inputCity">Municipio</label>
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="cliente.municipio"
                    name="municipio"
                  />
                </div>
                <div class="form-group col-md-4">
                  <label for="inputCity">Estado</label>
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="cliente.estado"
                    name="estado"
                  />
                </div>
                <div class="form-group col-md-4">
                  <label for="inputZip">País</label>
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="cliente.pais"
                    name="pais"
                  />
                </div>
              </div>

              <div class="row">
                <div class="col-md-4" >
                  <div >
                      <label>
                          TELÉFONO
                      </label>
                      <div class="input-group-prepend">
                          <input type="text" class="form-control"  [(ngModel)]="telefonoVista"
                          name="telefono">
                          <span class="input-group-btn">
                              <a class="btn btn-primary" (click)="nuevoTelefono(telefonoVista)">
                                  <i class="fa fa-plus"></i>
                              </a>
                          </span>
                      </div>
                  </div>
              </div>
              <div class="col-md-8 col-md-offset-4">
                <div class="table-responsive-sm">
                    <table id="example2" class="table table-sm table-bordered" >
                  <thead>
                    <tr>
                      <th style="text-align:center">Tel</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let tel of telefonosCliente ;let indice=index">
                      <td>{{tel.telefono}}</td>
                      <td>
                        <svg type = "button" (click)='editar ?  eliminarTelefono(tel.idTelefono)  : eliminarTelefono(indice)' width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="red" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                        </svg>
                      </td>
                    </tr>
                  </tbody>
                </table>
                </div>
              
              </div>
              </div>
              <button type="button" class="btn btn-primary" (click)="editar ?  actualizarCliente()  : altaCliente()">
                Guardar
              </button>
            </form>
         
          
          </div>
        
        </div>

        <!-- /.card-body -->
      </div>
      <!-- /.card -->

      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
